<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta lang="zh">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <link rel="shortcut icon" id="ico" type="image/x-icon"
    href="https://s.newscdn.cn/account-frontend/0.1.9/img/favicon.ico">
  <title>react-dva-ts-boilerplate</title>
  <% if (process.env.NODE_ENV === 'development') { %>
  <!-- 本地dll开发包 用cdn上的开发包可能会导致特别慢，这个时候可以直接用本地的dll包-->
  <link rel="stylesheet" href="/vendor/dist/vendor-e176897a4557825669b1.dev.css">
  <script src="/vendor/dist/vendor-e176897a4557825669b1.dev.js"></script>
  <% } else { %>
  <!-- 线上dll生产包-->
  <link rel="stylesheet" href="https://s.newscdn.cn/react-dva-ts-boilerplate/vendor-4af2a2ca742ccd3cec89.css">
  <script src="https://s.newscdn.cn//react-dva-ts-boilerplate/vendor-4af2a2ca742ccd3cec89.js"></script>
  <% } %>
  <!--[if lt IE 10]>
  <script>window.location.href = 'https://p.xinwen.cn/act/upgrade-your-browser?refer=' + location.href;</script>
  <![endif]-->
  <!--[if lt IE 11]>
  <script src='https://s.newscdn.cn/@fed/sentry/sentry-polyfill.min.js'></script>
  <![endif]-->
  <script>
    // 挂载的版本信息 - Sentry 上报使用
    window.versionInfo = {
      VERSION: '0.0.0', // 版本号信息，发布时需要在cms上同步修改
      ENV: 'DEV',  // TEST、PRE、PROD等 环境信息，需要在cms上设置
      INIT: false,
    };
  </script>
</head>

<body>
  <div id="root"></div>
  <script src="//p.xinwen.cn/dot/spm.js"></script>
</body>

</html>
